<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>arrow_1.png</key>
		<dict>
			<key>x</key>
			<real>390</real>
			<key>y</key>
			<real>485</real>
			<key>width</key>
			<real>90</real>
			<key>height</key>
			<real>16</real>
			<key>offsetX</key>
			<real>-18</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>16</real>
		</dict>
		<key>arrow_2.png</key>
		<dict>
			<key>x</key>
			<real>298</real>
			<key>y</key>
			<real>493</real>
			<key>width</key>
			<real>90</real>
			<key>height</key>
			<real>16</real>
			<key>offsetX</key>
			<real>-19</real>
			<key>offsetY</key>
			<real>8</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		<key>arrow_3.png</key>
		<dict>
			<key>x</key>
			<real>187</real>
			<key>y</key>
			<real>333</real>
			<key>width</key>
			<real>88</real>
			<key>height</key>
			<real>12</real>
			<key>offsetX</key>
			<real>-17</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>16</real>
		</dict>
		<key>arrow_default.png</key>
		<dict>
			<key>x</key>
			<real>97</real>
			<key>y</key>
			<real>333</real>
			<key>width</key>
			<real>88</real>
			<key>height</key>
			<real>12</real>
			<key>offsetX</key>
			<real>-20</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>16</real>
		</dict>
		<key>bow_1.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>347</real>
			<key>width</key>
			<real>102</real>
			<key>height</key>
			<real>155</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<real>106</real>
			<key>originalHeight</key>
			<real>161</real>
		</dict>
		<key>bow_2.png</key>
		<dict>
			<key>x</key>
			<real>390</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>115</real>
			<key>height</key>
			<real>143</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>121</real>
			<key>originalHeight</key>
			<real>151</real>
		</dict>
		<key>bow_3.png</key>
		<dict>
			<key>x</key>
			<real>97</real>
			<key>y</key>
			<real>183</real>
			<key>width</key>
			<real>98</real>
			<key>height</key>
			<real>148</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>102</real>
			<key>originalHeight</key>
			<real>150</real>
		</dict>
		<key>bow_default.png</key>
		<dict>
			<key>x</key>
			<real>197</real>
			<key>y</key>
			<real>176</real>
			<key>width</key>
			<real>88</real>
			<key>height</key>
			<real>144</real>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<real>96</real>
			<key>originalHeight</key>
			<real>146</real>
		</dict>
		<key>final_arrow.png</key>
		<dict>
			<key>x</key>
			<real>287</real>
			<key>y</key>
			<real>52</real>
			<key>width</key>
			<real>100</real>
			<key>height</key>
			<real>14</real>
			<key>offsetX</key>
			<real>-14</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>16</real>
		</dict>
		<key>final_bow.png</key>
		<dict>
			<key>x</key>
			<real>390</real>
			<key>y</key>
			<real>145</real>
			<key>width</key>
			<real>112</real>
			<key>height</key>
			<real>134</real>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>136</real>
		</dict>
		<key>power_arrow_1.png</key>
		<dict>
			<key>x</key>
			<real>277</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>110</real>
			<key>height</key>
			<real>28</real>
			<key>offsetX</key>
			<real>-9</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		<key>power_arrow_2.png</key>
		<dict>
			<key>x</key>
			<real>277</real>
			<key>y</key>
			<real>322</real>
			<key>width</key>
			<real>96</real>
			<key>height</key>
			<real>22</real>
			<key>offsetX</key>
			<real>-15</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		<key>power_arrow_3.png</key>
		<dict>
			<key>x</key>
			<real>118</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>100</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>-11</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		<key>power_bow_1.png</key>
		<dict>
			<key>x</key>
			<real>202</real>
			<key>y</key>
			<real>347</real>
			<key>width</key>
			<real>116</real>
			<key>height</key>
			<real>144</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>118</real>
			<key>originalHeight</key>
			<real>150</real>
		</dict>
		<key>power_bow_2.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>183</real>
			<key>width</key>
			<real>95</real>
			<key>height</key>
			<real>162</real>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>101</real>
			<key>originalHeight</key>
			<real>162</real>
		</dict>
		<key>power_bow_3.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>116</real>
			<key>height</key>
			<real>181</real>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>120</real>
			<key>originalHeight</key>
			<real>181</real>
		</dict>
		<key>speed_arrow_1.png</key>
		<dict>
			<key>x</key>
			<real>287</real>
			<key>y</key>
			<real>30</real>
			<key>width</key>
			<real>100</real>
			<key>height</key>
			<real>20</real>
			<key>offsetX</key>
			<real>-14</real>
			<key>offsetY</key>
			<real>6</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		<key>speed_arrow_2.png</key>
		<dict>
			<key>x</key>
			<real>202</real>
			<key>y</key>
			<real>493</real>
			<key>width</key>
			<real>94</real>
			<key>height</key>
			<real>16</real>
			<key>offsetX</key>
			<real>-17</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>16</real>
		</dict>
		<key>speed_arrow_3.png</key>
		<dict>
			<key>x</key>
			<real>104</real>
			<key>y</key>
			<real>494</real>
			<key>width</key>
			<real>96</real>
			<key>height</key>
			<real>16</real>
			<key>offsetX</key>
			<real>-16</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>16</real>
		</dict>
		<key>speed_bow_1.png</key>
		<dict>
			<key>x</key>
			<real>104</real>
			<key>y</key>
			<real>347</real>
			<key>width</key>
			<real>96</real>
			<key>height</key>
			<real>145</real>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<real>102</real>
			<key>originalHeight</key>
			<real>151</real>
		</dict>
		<key>speed_bow_2.png</key>
		<dict>
			<key>x</key>
			<real>118</real>
			<key>y</key>
			<real>30</real>
			<key>width</key>
			<real>92</real>
			<key>height</key>
			<real>144</real>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<real>98</real>
			<key>originalHeight</key>
			<real>150</real>
		</dict>
		<key>speed_bow_3.png</key>
		<dict>
			<key>x</key>
			<real>320</real>
			<key>y</key>
			<real>346</real>
			<key>width</key>
			<real>126</real>
			<key>height</key>
			<real>137</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>149</real>
		</dict>
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
</dict>
</plist>
