<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>addmana_button.png</key>
		<dict>
			<key>x</key>
			<real>1</real>
			<key>y</key>
			<real>438</real>
			<key>width</key>
			<real>58</real>
			<key>height</key>
			<real>58</real>
			<key>offsetX</key>
			<real>-24</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>bloodpanel.png</key>
		<dict>
			<key>x</key>
			<real>1</real>
			<key>y</key>
			<real>95</real>
			<key>width</key>
			<real>258</real>
			<key>height</key>
			<real>86</real>
			<key>offsetX</key>
			<real>-127</real>
			<key>offsetY</key>
			<real>21</real>
			<key>originalWidth</key>
			<real>512</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>cancel.png</key>
		<dict>
			<key>x</key>
			<real>263</real>
			<key>y</key>
			<real>57</real>
			<key>width</key>
			<real>28</real>
			<key>height</key>
			<real>29</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>30</real>
			<key>originalHeight</key>
			<real>31</real>
		</dict>
		
		<key>coin.png</key>
		<dict>
			<key>x</key>
			<real>230</real>
			<key>y</key>
			<real>57</real>
			<key>width</key>
			<real>32</real>
			<key>height</key>
			<real>34</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>34</real>
			<key>originalHeight</key>
			<real>34</real>
		</dict>
		
		<key>cooldown.png</key>
		<dict>
			<key>x</key>
			<real>1</real>
			<key>y</key>
			<real>1</real>
			<key>width</key>
			<real>128</real>
			<key>height</key>
			<real>93</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>93</real>
		</dict>
		
		<key>crystal.png</key>
		<dict>
			<key>x</key>
			<real>197</real>
			<key>y</key>
			<real>57</real>
			<key>width</key>
			<real>32</real>
			<key>height</key>
			<real>34</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>34</real>
			<key>originalHeight</key>
			<real>34</real>
		</dict>
		
		<key>crystal_1.png</key>
		<dict>
			<key>x</key>
			<real>130</real>
			<key>y</key>
			<real>57</real>
			<key>width</key>
			<real>66</real>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>-31</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>home_down_button.png</key>
		<dict>
			<key>x</key>
			<real>236</real>
			<key>y</key>
			<real>182</real>
			<key>width</key>
			<real>78</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>-22</real>
			<key>offsetY</key>
			<real>22</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>home_up_button.png</key>
		<dict>
			<key>x</key>
			<real>1</real>
			<key>y</key>
			<real>357</real>
			<key>width</key>
			<real>78</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>-22</real>
			<key>offsetY</key>
			<real>22</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>magic_slot_elect.png</key>
		<dict>
			<key>x</key>
			<real>315</real>
			<key>y</key>
			<real>182</real>
			<key>width</key>
			<real>102</real>
			<key>height</key>
			<real>78</real>
			<key>offsetX</key>
			<real>-13</real>
			<key>offsetY</key>
			<real>25</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>magic_slot_elect2.png</key>
		<dict>
			<key>x</key>
			<real>339</real>
			<key>y</key>
			<real>263</real>
			<key>width</key>
			<real>102</real>
			<key>height</key>
			<real>78</real>
			<key>offsetX</key>
			<real>-13</real>
			<key>offsetY</key>
			<real>25</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>magic_slot_elect3.png</key>
		<dict>
			<key>x</key>
			<real>339</real>
			<key>y</key>
			<real>421</real>
			<key>width</key>
			<real>102</real>
			<key>height</key>
			<real>78</real>
			<key>offsetX</key>
			<real>-13</real>
			<key>offsetY</key>
			<real>25</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>magic_slot_fire.png</key>
		<dict>
			<key>x</key>
			<real>236</real>
			<key>y</key>
			<real>423</real>
			<key>width</key>
			<real>102</real>
			<key>height</key>
			<real>78</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>102</real>
			<key>originalHeight</key>
			<real>78</real>
		</dict>
		
		<key>magic_slot_fire2.png</key>
		<dict>
			<key>x</key>
			<real>260</real>
			<key>y</key>
			<real>95</real>
			<key>width</key>
			<real>102</real>
			<key>height</key>
			<real>78</real>
			<key>offsetX</key>
			<real>-13</real>
			<key>offsetY</key>
			<real>25</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>magic_slot_fire3.png</key>
		<dict>
			<key>x</key>
			<real>133</real>
			<key>y</key>
			<real>423</real>
			<key>width</key>
			<real>102</real>
			<key>height</key>
			<real>78</real>
			<key>offsetX</key>
			<real>-13</real>
			<key>offsetY</key>
			<real>25</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>magic_slot_ice.png</key>
		<dict>
			<key>x</key>
			<real>236</real>
			<key>y</key>
			<real>263</real>
			<key>width</key>
			<real>102</real>
			<key>height</key>
			<real>78</real>
			<key>offsetX</key>
			<real>-13</real>
			<key>offsetY</key>
			<real>25</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>magic_slot_ice2.png</key>
		<dict>
			<key>x</key>
			<real>393</real>
			<key>y</key>
			<real>1</real>
			<key>width</key>
			<real>102</real>
			<key>height</key>
			<real>78</real>
			<key>offsetX</key>
			<real>-13</real>
			<key>offsetY</key>
			<real>25</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>magic_slot_ice3.png</key>
		<dict>
			<key>x</key>
			<real>133</real>
			<key>y</key>
			<real>182</real>
			<key>width</key>
			<real>102</real>
			<key>height</key>
			<real>78</real>
			<key>offsetX</key>
			<real>-13</real>
			<key>offsetY</key>
			<real>25</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>magic_slot_lock.png</key>
		<dict>
			<key>x</key>
			<real>339</real>
			<key>y</key>
			<real>342</real>
			<key>width</key>
			<real>102</real>
			<key>height</key>
			<real>78</real>
			<key>offsetX</key>
			<real>-13</real>
			<key>offsetY</key>
			<real>25</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>magic_slot_lowmana_bg.png</key>
		<dict>
			<key>x</key>
			<real>60</real>
			<key>y</key>
			<real>438</real>
			<key>width</key>
			<real>56</real>
			<key>height</key>
			<real>56</real>
			<key>offsetX</key>
			<real>-24</real>
			<key>offsetY</key>
			<real>24</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>magic_slot_shine.png</key>
		<dict>
			<key>x</key>
			<real>1</real>
			<key>y</key>
			<real>182</real>
			<key>width</key>
			<real>131</real>
			<key>height</key>
			<real>92</real>
			<key>offsetX</key>
			<real>-5</real>
			<key>offsetY</key>
			<real>16</real>
			<key>originalWidth</key>
			<real>145</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>minion_blood.png</key>
		<dict>
			<key>x</key>
			<real>456</real>
			<key>y</key>
			<real>80</real>
			<key>width</key>
			<real>4</real>
			<key>height</key>
			<real>4</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>4</real>
			<key>originalHeight</key>
			<real>4</real>
		</dict>
		
		<key>minion_blood_bg.png</key>
		<dict>
			<key>x</key>
			<real>393</real>
			<key>y</key>
			<real>80</real>
			<key>width</key>
			<real>62</real>
			<key>height</key>
			<real>4</real>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>64</real>
			<key>originalHeight</key>
			<real>4</real>
		</dict>
		
		<key>num_fnt_1.png</key>
		<dict>
			<key>x</key>
			<real>130</real>
			<key>y</key>
			<real>32</real>
			<key>width</key>
			<real>180</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>180</real>
			<key>originalHeight</key>
			<real>28</real>
		</dict>
		
		<key>pause_btn.png</key>
		<dict>
			<key>x</key>
			<real>80</real>
			<key>y</key>
			<real>357</real>
			<key>width</key>
			<real>52</real>
			<key>height</key>
			<real>54</real>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<real>64</real>
			<key>originalHeight</key>
			<real>64</real>
		</dict>
		
		<key>progress_bg.png</key>
		<dict>
			<key>x</key>
			<real>130</real>
			<key>y</key>
			<real>1</real>
			<key>width</key>
			<real>262</real>
			<key>height</key>
			<real>30</real>
			<key>offsetX</key>
			<real>-124</real>
			<key>offsetY</key>
			<real>14</real>
			<key>originalWidth</key>
			<real>512</real>
			<key>originalHeight</key>
			<real>64</real>
		</dict>
		
		<key>progress_logo.png</key>
		<dict>
			<key>x</key>
			<real>442</real>
			<key>y</key>
			<real>263</real>
			<key>width</key>
			<real>50</real>
			<key>height</key>
			<real>50</real>
			<key>offsetX</key>
			<real>-7</real>
			<key>offsetY</key>
			<real>6</real>
			<key>originalWidth</key>
			<real>64</real>
			<key>originalHeight</key>
			<real>64</real>
		</dict>
		
		<key>resume_down_button.png</key>
		<dict>
			<key>x</key>
			<real>133</real>
			<key>y</key>
			<real>342</real>
			<key>width</key>
			<real>78</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>-22</real>
			<key>offsetY</key>
			<real>22</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>resume_up_button.png</key>
		<dict>
			<key>x</key>
			<real>418</real>
			<key>y</key>
			<real>182</real>
			<key>width</key>
			<real>78</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>-22</real>
			<key>offsetY</key>
			<real>22</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>retry_down_button.png</key>
		<dict>
			<key>x</key>
			<real>133</real>
			<key>y</key>
			<real>261</real>
			<key>width</key>
			<real>78</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>-22</real>
			<key>offsetY</key>
			<real>22</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>retry_up_button.png</key>
		<dict>
			<key>x</key>
			<real>236</real>
			<key>y</key>
			<real>342</real>
			<key>width</key>
			<real>78</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>-22</real>
			<key>offsetY</key>
			<real>22</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>tanhao.png</key>
		<dict>
			<key>x</key>
			<real>311</real>
			<key>y</key>
			<real>32</real>
			<key>width</key>
			<real>63</real>
			<key>height</key>
			<real>46</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>63</real>
			<key>originalHeight</key>
			<real>48</real>
		</dict>
		
		<key>thorn_slot.png</key>
		<dict>
			<key>x</key>
			<real>363</real>
			<key>y</key>
			<real>95</real>
			<key>width</key>
			<real>102</real>
			<key>height</key>
			<real>81</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>106</real>
			<key>originalHeight</key>
			<real>81</real>
		</dict>
		
		<key>trap_slot_unequiped.png</key>
		<dict>
			<key>x</key>
			<real>1</real>
			<key>y</key>
			<real>275</real>
			<key>width</key>
			<real>102</real>
			<key>height</key>
			<real>81</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>106</real>
			<key>originalHeight</key>
			<real>81</real>
		</dict>
		
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
</dict>
</plist>