<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>cancel.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>226</real>
			<key>width</key>
			<real>28</real>
			<key>height</key>
			<real>29</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>30</real>
			<key>originalHeight</key>
			<real>31</real>
		</dict>
		
		<key>cooldown.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>131</real>
			<key>width</key>
			<real>128</real>
			<key>height</key>
			<real>93</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>93</real>
		</dict>
		
		<key>thorn_icon.png</key>
		<dict>
			<key>x</key>
			<real>218</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>85</real>
			<key>height</key>
			<real>85</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>85</real>
			<key>originalHeight</key>
			<real>85</real>
		</dict>
		
		<key>thorn_icon_using.png</key>
		<dict>
			<key>x</key>
			<real>217</real>
			<key>y</key>
			<real>87</real>
			<key>width</key>
			<real>85</real>
			<key>height</key>
			<real>85</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>85</real>
			<key>originalHeight</key>
			<real>85</real>
		</dict>
		
		<key>thorn_slot.png</key>
		<dict>
			<key>x</key>
			<real>321</real>
			<key>y</key>
			<real>172</real>
			<key>width</key>
			<real>102</real>
			<key>height</key>
			<real>81</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>106</real>
			<key>originalHeight</key>
			<real>81</real>
		</dict>
		
		<key>trap.png</key>
		<dict>
			<key>x</key>
			<real>304</real>
			<key>y</key>
			<real>87</real>
			<key>width</key>
			<real>83</real>
			<key>height</key>
			<real>83</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>85</real>
			<key>originalHeight</key>
			<real>85</real>
		</dict>
		
		<key>trap_bg.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>129</real>
			<key>height</key>
			<real>129</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>129</real>
			<key>originalHeight</key>
			<real>129</real>
		</dict>
		
		<key>trap_icon_unequiped.png</key>
		<dict>
			<key>x</key>
			<real>130</real>
			<key>y</key>
			<real>131</real>
			<key>width</key>
			<real>85</real>
			<key>height</key>
			<real>85</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>85</real>
			<key>originalHeight</key>
			<real>85</real>
		</dict>
		
		<key>trap_locked.png</key>
		<dict>
			<key>x</key>
			<real>131</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>85</real>
			<key>height</key>
			<real>85</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>85</real>
			<key>originalHeight</key>
			<real>85</real>
		</dict>
		
		<key>trap_slot_unequiped.png</key>
		<dict>
			<key>x</key>
			<real>217</real>
			<key>y</key>
			<real>174</real>
			<key>width</key>
			<real>102</real>
			<key>height</key>
			<real>81</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>106</real>
			<key>originalHeight</key>
			<real>81</real>
		</dict>
		
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
</dict>
</plist>