<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,236},{216,130}}</string>
                <key>offset</key>
                <string>{11,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,184},{216,130}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,236},{216,130}}</string>
                <key>offset</key>
                <string>{11,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,184},{216,130}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,236},{216,130}}</string>
                <key>offset</key>
                <string>{11,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,184},{216,130}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,236},{216,130}}</string>
                <key>offset</key>
                <string>{11,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,184},{216,130}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,466},{568,278}}</string>
                <key>offset</key>
                <string>{46,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,5},{568,278}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,466},{568,278}}</string>
                <key>offset</key>
                <string>{46,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,5},{568,278}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,988},{560,222}}</string>
                <key>offset</key>
                <string>{27,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,55},{560,222}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{650,232}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,44},{650,232}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,2},{624,232}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,44},{624,232}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{556,218}}</string>
                <key>offset</key>
                <string>{40,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,40},{556,218}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{556,218}}</string>
                <key>offset</key>
                <string>{40,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,40},{556,218}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,946},{562,218}}</string>
                <key>offset</key>
                <string>{26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,49},{562,218}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,236},{612,242}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,31},{612,242}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{612,242}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,31},{612,242}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,480},{568,252}}</string>
                <key>offset</key>
                <string>{46,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,5},{568,252}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,480},{568,252}}</string>
                <key>offset</key>
                <string>{46,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,5},{568,252}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,734},{568,210}}</string>
                <key>offset</key>
                <string>{23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,55},{568,210}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{650,230}}</string>
                <key>offset</key>
                <string>{-19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,38},{650,230}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,234},{624,230}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,38},{624,230}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{568,268}}</string>
                <key>offset</key>
                <string>{46,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,5},{568,268}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{568,268}}</string>
                <key>offset</key>
                <string>{46,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,5},{568,268}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,1048},{554,230}}</string>
                <key>offset</key>
                <string>{30,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,55},{554,230}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,480},{566,240}}</string>
                <key>offset</key>
                <string>{22,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,49},{566,240}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{564,240}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,49},{564,240}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{568,268}}</string>
                <key>offset</key>
                <string>{46,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,5},{568,268}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{568,268}}</string>
                <key>offset</key>
                <string>{46,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,5},{568,268}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,1048},{554,230}}</string>
                <key>offset</key>
                <string>{30,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,55},{554,230}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,746},{564,240}}</string>
                <key>offset</key>
                <string>{23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,40},{564,240}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
            <key>effect1_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,746},{564,240}}</string>
                <key>offset</key>
                <string>{23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,40},{564,240}}</string>
                <key>sourceSize</key>
                <string>{700,314}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5220ddcd5377e3c1e3a618afe247513f$</string>
            <key>textureFileName</key>
            <string>effect1.png</string>
        </dict>
    </dict>
</plist>
