<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>enemy0.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,435},{56,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{56,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>enemy1.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,373},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>enemy2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,435},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>enemy3.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,435},{60,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{60,56}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>enemy4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,373},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>enemy5.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,2},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>enemy6.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,162},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>enemy7.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,232},{56,60}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{56,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>enemy8.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,100},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>enemy_fly2.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,262},{31,26}}</string>
			<key>offset</key>
			<string>{-1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,27},{31,26}}</string>
			<key>sourceSize</key>
			<string>{35,64}</string>
		</dict>
		<key>enemy_fly3.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,262},{33,26}}</string>
			<key>offset</key>
			<string>{0,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,31},{33,26}}</string>
			<key>sourceSize</key>
			<string>{35,64}</string>
		</dict>
		<key>enemy_hp0.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,224},{57,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,10}}</string>
			<key>sourceSize</key>
			<string>{57,10}</string>
		</dict>
		<key>enemy_hp1.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,224},{53,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,6}}</string>
			<key>sourceSize</key>
			<string>{53,6}</string>
		</dict>
		<key>item_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,238},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>item_coin.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,262},{28,28}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{28,28}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>item_double.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,468},{40,42}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,6},{40,42}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>item_down_skill.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,416},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>item_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,102},{40,40}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,6},{40,40}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>item_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,154},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,5},{40,40}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>item_up_skill.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,300},{58,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{58,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>item_xts.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,356},{58,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{58,58}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>pet10_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,210},{38,50}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet10_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,2},{34,50}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{34,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet10_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,158},{38,50}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet10_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,64},{34,50}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{34,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet1_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,206},{40,48}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{40,48}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,2},{40,48}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{40,48}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,52},{40,48}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{40,48}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,104},{40,48}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{40,48}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet2_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,106},{40,50}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,2},{40,50}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,54},{40,50}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,168},{40,50}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet3_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,54},{36,50}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,446},{36,50}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,394},{36,50}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,342},{36,50}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet6_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,156},{44,48}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{44,48}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet6_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,2},{44,48}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{44,48}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet6_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,54},{44,48}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{44,48}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet6_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,106},{44,48}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{44,48}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet7_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,394},{36,50}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet7_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,290},{36,50}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet7_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,342},{36,50}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet7_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,290},{36,50}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet8_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,344},{36,50}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet8_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,210},{36,50}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet8_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,292},{36,50}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet8_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,158},{36,50}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet9_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,116},{40,50}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet9_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,2},{40,50}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet9_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,64},{40,50}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>pet9_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,468},{40,50}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>role0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,169},{58,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,67}}</string>
			<key>sourceSize</key>
			<string>{58,67}</string>
		</dict>
		<key>role1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,100},{58,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,67}}</string>
			<key>sourceSize</key>
			<string>{58,67}</string>
		</dict>
		<key>role2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,238},{56,67}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,67}}</string>
			<key>sourceSize</key>
			<string>{58,67}</string>
		</dict>
		<key>role_fire0.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,294},{60,54}}</string>
			<key>offset</key>
			<string>{1,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,3},{60,54}}</string>
			<key>sourceSize</key>
			<string>{68,96}</string>
		</dict>
		<key>role_fire1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,307},{62,64}}</string>
			<key>offset</key>
			<string>{1,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{62,64}}</string>
			<key>sourceSize</key>
			<string>{68,96}</string>
		</dict>
		<key>role_fire2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{68,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,96}}</string>
			<key>sourceSize</key>
			<string>{68,96}</string>
		</dict>
		<key>role_fire3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,307},{62,64}}</string>
			<key>offset</key>
			<string>{1,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{62,64}}</string>
			<key>sourceSize</key>
			<string>{68,96}</string>
		</dict>
		<key>shadow0.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,144},{36,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{36,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>shadow1.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,196},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>shadow2.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,336},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>shadow3.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,376},{38,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{38,34}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>shadow4.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,296},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>shadow5.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,256},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>shadow6.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,2},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>shadow7.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,92},{34,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{34,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>shadow8.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,52},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>sp_all.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:79752445fd001611254237c9011c4052$</string>
		<key>textureFileName</key>
		<string>sp_all.png</string>
	</dict>
</dict>
</plist>
