<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>enemy1_down1.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,128},{55,61}}</string>
			<key>offset</key>
			<string>{2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{55,61}}</string>
			<key>sourceSize</key>
			<string>{63,69}</string>
		</dict>
		<key>enemy1_down2.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,2},{55,65}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,4},{55,65}}</string>
			<key>sourceSize</key>
			<string>{63,69}</string>
		</dict>
		<key>enemy1_down3.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,65},{55,61}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,5},{55,61}}</string>
			<key>sourceSize</key>
			<string>{63,69}</string>
		</dict>
		<key>enemy1_down4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,69},{55,65}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,3},{55,65}}</string>
			<key>sourceSize</key>
			<string>{63,69}</string>
		</dict>
		<key>enemy1_left1.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,59},{55,63}}</string>
			<key>offset</key>
			<string>{2,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{55,63}}</string>
			<key>sourceSize</key>
			<string>{63,69}</string>
		</dict>
		<key>enemy1_left2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,126},{53,65}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{53,65}}</string>
			<key>sourceSize</key>
			<string>{63,69}</string>
		</dict>
		<key>enemy1_left3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,193},{53,61}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,2},{53,61}}</string>
			<key>sourceSize</key>
			<string>{63,69}</string>
		</dict>
		<key>enemy1_left4.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,191},{53,59}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,3},{53,59}}</string>
			<key>sourceSize</key>
			<string>{63,69}</string>
		</dict>
		<key>enemy1_right1.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,2},{55,63}}</string>
			<key>offset</key>
			<string>{-3,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{55,63}}</string>
			<key>sourceSize</key>
			<string>{63,69}</string>
		</dict>
		<key>enemy1_right2.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,124},{53,65}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,1},{53,65}}</string>
			<key>sourceSize</key>
			<string>{63,69}</string>
		</dict>
		<key>enemy1_right3.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,179},{53,61}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,2},{53,61}}</string>
			<key>sourceSize</key>
			<string>{63,69}</string>
		</dict>
		<key>enemy1_right4.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,179},{53,59}}</string>
			<key>offset</key>
			<string>{2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,3},{53,59}}</string>
			<key>sourceSize</key>
			<string>{63,69}</string>
		</dict>
		<key>enemy1_up1.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,2},{55,61}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{55,61}}</string>
			<key>sourceSize</key>
			<string>{63,69}</string>
		</dict>
		<key>enemy1_up2.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,116},{55,61}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{55,61}}</string>
			<key>sourceSize</key>
			<string>{63,69}</string>
		</dict>
		<key>enemy1_up3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{55,65}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{55,65}}</string>
			<key>sourceSize</key>
			<string>{63,69}</string>
		</dict>
		<key>enemy1_up4.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,59},{55,63}}</string>
			<key>offset</key>
			<string>{-3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{55,63}}</string>
			<key>sourceSize</key>
			<string>{63,69}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>enemy1.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d4c50eb78330da81d13f69e2a227d7b8$</string>
		<key>textureFileName</key>
		<string>enemy1.png</string>
	</dict>
</dict>
</plist>
