<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect5_00010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,471},{223,178}}</string>
                <key>offset</key>
                <string>{-360,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,121},{223,178}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,471},{223,178}}</string>
                <key>offset</key>
                <string>{-360,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,121},{223,178}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,471},{223,178}}</string>
                <key>offset</key>
                <string>{-360,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,121},{223,178}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{229,182}}</string>
                <key>offset</key>
                <string>{-356,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,117},{229,182}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{229,182}}</string>
                <key>offset</key>
                <string>{-356,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,117},{229,182}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{229,182}}</string>
                <key>offset</key>
                <string>{-356,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,117},{229,182}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,391},{197,302}}</string>
                <key>offset</key>
                <string>{-271,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,22},{197,302}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{387,176}}</string>
                <key>offset</key>
                <string>{-176,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,148},{387,176}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,353},{331,162}}</string>
                <key>offset</key>
                <string>{-320,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,173},{331,162}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,353},{331,162}}</string>
                <key>offset</key>
                <string>{-320,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,173},{331,162}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,353},{339,162}}</string>
                <key>offset</key>
                <string>{-331,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,167},{339,162}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,353},{339,162}}</string>
                <key>offset</key>
                <string>{-331,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,167},{339,162}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{349,156}}</string>
                <key>offset</key>
                <string>{-326,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,173},{349,156}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{349,156}}</string>
                <key>offset</key>
                <string>{-326,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,173},{349,156}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,686},{289,176}}</string>
                <key>offset</key>
                <string>{-256,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,154},{289,176}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,686},{289,176}}</string>
                <key>offset</key>
                <string>{-256,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,154},{289,176}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,694},{295,166}}</string>
                <key>offset</key>
                <string>{-264,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,155},{295,166}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,694},{295,166}}</string>
                <key>offset</key>
                <string>{-264,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,155},{295,166}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010019.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{693,256}}</string>
                <key>offset</key>
                <string>{-60,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,83},{693,256}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010020.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{693,256}}</string>
                <key>offset</key>
                <string>{-60,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,83},{693,256}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{693,256}}</string>
                <key>offset</key>
                <string>{-60,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,83},{693,256}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010022.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,697},{529,302}}</string>
                <key>offset</key>
                <string>{125,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,62},{529,302}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010023.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,697},{529,302}}</string>
                <key>offset</key>
                <string>{125,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,62},{529,302}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010024.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,697},{529,302}}</string>
                <key>offset</key>
                <string>{125,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,62},{529,302}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{667,318}}</string>
                <key>offset</key>
                <string>{155,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,62},{667,318}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{667,318}}</string>
                <key>offset</key>
                <string>{155,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,62},{667,318}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{667,318}}</string>
                <key>offset</key>
                <string>{155,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,62},{667,318}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010028.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{467,128}}</string>
                <key>offset</key>
                <string>{228,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{495,176},{467,128}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010029.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{467,128}}</string>
                <key>offset</key>
                <string>{228,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{495,176},{467,128}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,2},{349,148}}</string>
                <key>offset</key>
                <string>{171,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{497,154},{349,148}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
            <key>effect5_00010031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,2},{349,148}}</string>
                <key>offset</key>
                <string>{171,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{497,154},{349,148}}</string>
                <key>sourceSize</key>
                <string>{1001,386}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect5.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be30a0d7d938ec1107fa96d1c2ae6dbc$</string>
            <key>textureFileName</key>
            <string>effect5.png</string>
        </dict>
    </dict>
</plist>
