<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect4_00010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{7888,2},{241,267}}</string>
                <key>offset</key>
                <string>{-763,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,236},{241,267}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{7888,2},{241,267}}</string>
                <key>offset</key>
                <string>{-763,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,236},{241,267}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{7888,2},{241,267}}</string>
                <key>offset</key>
                <string>{-763,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,236},{241,267}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{7679,5873},{345,341}}</string>
                <key>offset</key>
                <string>{-764,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,177},{345,341}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{7679,5873},{345,341}}</string>
                <key>offset</key>
                <string>{-764,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,177},{345,341}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{7679,5873},{345,341}}</string>
                <key>offset</key>
                <string>{-764,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,177},{345,341}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{7773,4796},{399,389}}</string>
                <key>offset</key>
                <string>{-764,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,150},{399,389}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{7773,4796},{399,389}}</string>
                <key>offset</key>
                <string>{-764,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,150},{399,389}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{7773,4796},{399,389}}</string>
                <key>offset</key>
                <string>{-764,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,150},{399,389}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{7294,5159},{439,421}}</string>
                <key>offset</key>
                <string>{-758,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,137},{439,421}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010011.png</key>
            <dict>
                <key>frame</key>
                <string>{{7294,5159},{439,421}}</string>
                <key>offset</key>
                <string>{-758,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,137},{439,421}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010012.png</key>
            <dict>
                <key>frame</key>
                <string>{{7294,5159},{439,421}}</string>
                <key>offset</key>
                <string>{-758,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,137},{439,421}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010013.png</key>
            <dict>
                <key>frame</key>
                <string>{{7888,384},{215,135}}</string>
                <key>offset</key>
                <string>{-760,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,337},{215,135}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010014.png</key>
            <dict>
                <key>frame</key>
                <string>{{7888,384},{215,135}}</string>
                <key>offset</key>
                <string>{-760,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,337},{215,135}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010015.png</key>
            <dict>
                <key>frame</key>
                <string>{{7888,384},{215,135}}</string>
                <key>offset</key>
                <string>{-760,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,337},{215,135}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010016.png</key>
            <dict>
                <key>frame</key>
                <string>{{7888,245},{221,137}}</string>
                <key>offset</key>
                <string>{-762,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,334},{221,137}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010017.png</key>
            <dict>
                <key>frame</key>
                <string>{{7888,245},{221,137}}</string>
                <key>offset</key>
                <string>{-762,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,334},{221,137}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010018.png</key>
            <dict>
                <key>frame</key>
                <string>{{7888,245},{221,137}}</string>
                <key>offset</key>
                <string>{-762,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,334},{221,137}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010019.png</key>
            <dict>
                <key>frame</key>
                <string>{{7294,4796},{477,361}}</string>
                <key>offset</key>
                <string>{-759,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,171},{477,361}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010020.png</key>
            <dict>
                <key>frame</key>
                <string>{{7294,4796},{477,361}}</string>
                <key>offset</key>
                <string>{-759,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,171},{477,361}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,5177},{477,361}}</string>
                <key>offset</key>
                <string>{-759,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,171},{477,361}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010022.png</key>
            <dict>
                <key>frame</key>
                <string>{{7648,2192},{651,495}}</string>
                <key>offset</key>
                <string>{-723,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,55},{651,495}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010023.png</key>
            <dict>
                <key>frame</key>
                <string>{{6995,2192},{651,495}}</string>
                <key>offset</key>
                <string>{-723,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,55},{651,495}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010024.png</key>
            <dict>
                <key>frame</key>
                <string>{{7235,2},{651,495}}</string>
                <key>offset</key>
                <string>{-723,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,55},{651,495}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010025.png</key>
            <dict>
                <key>frame</key>
                <string>{{7035,1635},{1079,555}}</string>
                <key>offset</key>
                <string>{-576,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,43},{1079,555}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010026.png</key>
            <dict>
                <key>frame</key>
                <string>{{7041,1078},{1079,555}}</string>
                <key>offset</key>
                <string>{-576,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,43},{1079,555}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010027.png</key>
            <dict>
                <key>frame</key>
                <string>{{7041,521},{1079,555}}</string>
                <key>offset</key>
                <string>{-576,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,43},{1079,555}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010028.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,6591},{1587,489}}</string>
                <key>offset</key>
                <string>{-320,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,53},{1587,489}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010029.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,6591},{1587,489}}</string>
                <key>offset</key>
                <string>{-320,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,53},{1587,489}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,6591},{1587,489}}</string>
                <key>offset</key>
                <string>{-320,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,53},{1587,489}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010031.png</key>
            <dict>
                <key>frame</key>
                <string>{{6729,4640},{1949,563}}</string>
                <key>offset</key>
                <string>{-141,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,28},{1949,563}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010032.png</key>
            <dict>
                <key>frame</key>
                <string>{{7530,2845},{1949,563}}</string>
                <key>offset</key>
                <string>{-141,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,28},{1949,563}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010033.png</key>
            <dict>
                <key>frame</key>
                <string>{{6965,2689},{1949,563}}</string>
                <key>offset</key>
                <string>{-141,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,28},{1949,563}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2349,481},{2345,535}}</string>
                <key>offset</key>
                <string>{59,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,0},{2345,535}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2349,481},{2345,535}}</string>
                <key>offset</key>
                <string>{59,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,0},{2345,535}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{2345,535}}</string>
                <key>offset</key>
                <string>{59,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,0},{2345,535}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2279,3381},{2261,485}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,54},{2261,485}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2279,3381},{2261,485}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,54},{2261,485}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010039.png</key>
            <dict>
                <key>frame</key>
                <string>{{4592,3269},{2261,485}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,54},{2261,485}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3824},{2259,439}}</string>
                <key>offset</key>
                <string>{16,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,96},{2259,439}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3824},{2259,439}}</string>
                <key>offset</key>
                <string>{16,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,96},{2259,439}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3383},{2261,439}}</string>
                <key>offset</key>
                <string>{16,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,96},{2261,439}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2347,1018},{2343,479}}</string>
                <key>offset</key>
                <string>{56,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,60},{2343,479}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2347,1018},{2343,479}}</string>
                <key>offset</key>
                <string>{56,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,60},{2343,479}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{2343,479}}</string>
                <key>offset</key>
                <string>{56,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,60},{2343,479}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2327,1976},{2323,473}}</string>
                <key>offset</key>
                <string>{47,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,62},{2323,473}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2327,1976},{2323,473}}</string>
                <key>offset</key>
                <string>{47,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,62},{2323,473}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010048.png</key>
            <dict>
                <key>frame</key>
                <string>{{4670,1872},{2323,473}}</string>
                <key>offset</key>
                <string>{47,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,62},{2323,473}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2263,3868},{2231,485}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,54},{2231,485}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2263,3868},{2231,485}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,54},{2231,485}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010051.png</key>
            <dict>
                <key>frame</key>
                <string>{{4542,3756},{2231,485}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,54},{2231,485}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1499},{2341,427}}</string>
                <key>offset</key>
                <string>{57,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,108},{2341,427}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1499},{2341,427}}</string>
                <key>offset</key>
                <string>{57,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,108},{2341,427}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010054.png</key>
            <dict>
                <key>frame</key>
                <string>{{4692,1443},{2341,427}}</string>
                <key>offset</key>
                <string>{57,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,108},{2341,427}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010055.png</key>
            <dict>
                <key>frame</key>
                <string>{{4496,4243},{2231,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,62},{2231,477}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010056.png</key>
            <dict>
                <key>frame</key>
                <string>{{4496,4243},{2231,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,62},{2231,477}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4265},{2231,477}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,62},{2231,477}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1928},{2323,475}}</string>
                <key>offset</key>
                <string>{47,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,60},{2323,475}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1928},{2323,475}}</string>
                <key>offset</key>
                <string>{47,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,60},{2323,475}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2345,1499},{2323,475}}</string>
                <key>offset</key>
                <string>{47,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,60},{2323,475}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010061.png</key>
            <dict>
                <key>frame</key>
                <string>{{4696,962},{2343,479}}</string>
                <key>offset</key>
                <string>{56,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,60},{2343,479}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010062.png</key>
            <dict>
                <key>frame</key>
                <string>{{4696,962},{2343,479}}</string>
                <key>offset</key>
                <string>{56,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,60},{2343,479}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010063.png</key>
            <dict>
                <key>frame</key>
                <string>{{4696,481},{2343,479}}</string>
                <key>offset</key>
                <string>{56,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,60},{2343,479}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010064.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4744},{2229,431}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,104},{2229,431}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4744},{2229,431}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,104},{2229,431}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010066.png</key>
            <dict>
                <key>frame</key>
                <string>{{2235,4355},{2229,431}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,104},{2229,431}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010067.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2890},{2275,491}}</string>
                <key>offset</key>
                <string>{-23,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,48},{2275,491}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2890},{2275,491}}</string>
                <key>offset</key>
                <string>{-23,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,48},{2275,491}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010069.png</key>
            <dict>
                <key>frame</key>
                <string>{{2315,2888},{2275,491}}</string>
                <key>offset</key>
                <string>{-23,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,48},{2275,491}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010070.png</key>
            <dict>
                <key>frame</key>
                <string>{{4824,2},{2409,477}}</string>
                <key>offset</key>
                <string>{23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,58},{2409,477}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010071.png</key>
            <dict>
                <key>frame</key>
                <string>{{2413,2},{2409,477}}</string>
                <key>offset</key>
                <string>{23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,58},{2409,477}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2409,477}}</string>
                <key>offset</key>
                <string>{23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,58},{2409,477}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010073.png</key>
            <dict>
                <key>frame</key>
                <string>{{4652,2347},{2311,483}}</string>
                <key>offset</key>
                <string>{-41,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,56},{2311,483}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010074.png</key>
            <dict>
                <key>frame</key>
                <string>{{4652,2347},{2311,483}}</string>
                <key>offset</key>
                <string>{-41,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,56},{2311,483}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010075.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2405},{2311,483}}</string>
                <key>offset</key>
                <string>{-41,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,56},{2311,483}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010076.png</key>
            <dict>
                <key>frame</key>
                <string>{{4612,2832},{2295,435}}</string>
                <key>offset</key>
                <string>{-55,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,99},{2295,435}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010077.png</key>
            <dict>
                <key>frame</key>
                <string>{{4612,2832},{2295,435}}</string>
                <key>offset</key>
                <string>{-55,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,99},{2295,435}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010078.png</key>
            <dict>
                <key>frame</key>
                <string>{{2315,2451},{2295,435}}</string>
                <key>offset</key>
                <string>{-55,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,99},{2295,435}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2233,4788},{2033,485}}</string>
                <key>offset</key>
                <string>{68,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,53},{2033,485}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010080.png</key>
            <dict>
                <key>frame</key>
                <string>{{4466,4722},{2033,485}}</string>
                <key>offset</key>
                <string>{68,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,53},{2033,485}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010081.png</key>
            <dict>
                <key>frame</key>
                <string>{{2233,4788},{2033,485}}</string>
                <key>offset</key>
                <string>{68,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,53},{2033,485}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010082.png</key>
            <dict>
                <key>frame</key>
                <string>{{7735,5187},{343,439}}</string>
                <key>offset</key>
                <string>{-763,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,99},{343,439}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010083.png</key>
            <dict>
                <key>frame</key>
                <string>{{7735,5187},{343,439}}</string>
                <key>offset</key>
                <string>{-763,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,99},{343,439}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010084.png</key>
            <dict>
                <key>frame</key>
                <string>{{7735,5187},{343,439}}</string>
                <key>offset</key>
                <string>{-763,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,99},{343,439}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010085.png</key>
            <dict>
                <key>frame</key>
                <string>{{7735,5532},{339,419}}</string>
                <key>offset</key>
                <string>{-761,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,119},{339,419}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010086.png</key>
            <dict>
                <key>frame</key>
                <string>{{7735,5532},{339,419}}</string>
                <key>offset</key>
                <string>{-761,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,119},{339,419}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010087.png</key>
            <dict>
                <key>frame</key>
                <string>{{7735,5532},{339,419}}</string>
                <key>offset</key>
                <string>{-761,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,119},{339,419}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010088.png</key>
            <dict>
                <key>frame</key>
                <string>{{7294,5582},{339,383}}</string>
                <key>offset</key>
                <string>{-761,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,155},{339,383}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010089.png</key>
            <dict>
                <key>frame</key>
                <string>{{7294,5582},{339,383}}</string>
                <key>offset</key>
                <string>{-761,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,155},{339,383}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
            <key>effect4_00010090.png</key>
            <dict>
                <key>frame</key>
                <string>{{7294,5582},{339,383}}</string>
                <key>offset</key>
                <string>{-761,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,155},{339,383}}</string>
                <key>sourceSize</key>
                <string>{2495,601}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect4.png</string>
            <key>size</key>
            <string>{8192,8192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a662c7fa8681110b60e2c54ed0f8969e$</string>
            <key>textureFileName</key>
            <string>effect4.png</string>
        </dict>
    </dict>
</plist>
