<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swk_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{187,135}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{187,135}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{187,135}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{187,135}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{187,135}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{187,135}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{187,135}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{187,135}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>swk_idle_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d11b94048f4259eb72a67569f0c91b0$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
