<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airen_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,582},{90,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{90,82}}</string>
                <key>sourceSize</key>
                <string>{92,86}</string>
            </dict>
            <key>airen_c10.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,250},{102,82}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{102,82}}</string>
                <key>sourceSize</key>
                <string>{106,86}</string>
            </dict>
            <key>airen_c11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,702},{82,84}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>airen_c12.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,348},{102,84}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{102,84}}</string>
                <key>sourceSize</key>
                <string>{106,90}</string>
            </dict>
            <key>airen_c13.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,308},{98,84}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{98,84}}</string>
                <key>sourceSize</key>
                <string>{106,90}</string>
            </dict>
            <key>airen_c14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,258},{104,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{104,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>airen_c15.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,180},{104,86}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{104,86}}</string>
                <key>sourceSize</key>
                <string>{108,90}</string>
            </dict>
            <key>airen_c16.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,180},{104,86}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,86}}</string>
                <key>sourceSize</key>
                <string>{114,90}</string>
            </dict>
            <key>airen_c17.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,94},{110,86}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{110,86}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>airen_c18.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,82},{120,86}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{120,86}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>airen_c19.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{122,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{122,86}}</string>
                <key>sourceSize</key>
                <string>{124,100}</string>
            </dict>
            <key>airen_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,578},{90,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,84}}</string>
                <key>sourceSize</key>
                <string>{92,86}</string>
            </dict>
            <key>airen_c20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{108,86}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{108,86}}</string>
                <key>sourceSize</key>
                <string>{120,94}</string>
            </dict>
            <key>airen_c21.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,554},{90,86}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{90,86}}</string>
                <key>sourceSize</key>
                <string>{106,94}</string>
            </dict>
            <key>airen_c22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,764},{88,84}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{88,84}}</string>
                <key>sourceSize</key>
                <string>{104,94}</string>
            </dict>
            <key>airen_c23.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,498},{88,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{88,82}}</string>
                <key>sourceSize</key>
                <string>{110,94}</string>
            </dict>
            <key>airen_c24.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,664},{82,84}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{82,84}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>airen_c25.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,662},{83,84}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{83,84}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>airen_c26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,678},{92,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{92,86}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
            <key>airen_c27.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,604},{92,88}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{92,88}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
            <key>airen_c28.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,94},{106,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{106,86}}</string>
                <key>sourceSize</key>
                <string>{108,92}</string>
            </dict>
            <key>airen_c29.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,164},{114,72}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{114,72}}</string>
                <key>sourceSize</key>
                <string>{120,86}</string>
            </dict>
            <key>airen_c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,346},{98,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{98,82}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>airen_c30.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,94},{96,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{96,74}}</string>
                <key>sourceSize</key>
                <string>{102,86}</string>
            </dict>
            <key>airen_c31.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,480},{96,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{96,72}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>airen_c32.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,428},{96,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{96,72}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>airen_c33.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,424},{96,72}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{96,72}}</string>
                <key>sourceSize</key>
                <string>{102,86}</string>
            </dict>
            <key>airen_c34.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,776},{84,78}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{84,78}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>airen_c35.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,564},{88,78}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{88,78}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>airen_c36.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,692},{88,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{88,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>airen_c37.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,292},{90,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{90,88}}</string>
                <key>sourceSize</key>
                <string>{94,96}</string>
            </dict>
            <key>airen_c38.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,484},{80,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{80,92}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>airen_c39.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,552},{66,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,94}}</string>
                <key>sourceSize</key>
                <string>{70,96}</string>
            </dict>
            <key>airen_c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,168},{104,82}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{104,82}}</string>
                <key>sourceSize</key>
                <string>{106,86}</string>
            </dict>
            <key>airen_c40.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,848},{70,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{70,84}}</string>
                <key>sourceSize</key>
                <string>{70,96}</string>
            </dict>
            <key>airen_c41.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,576},{66,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{66,88}}</string>
                <key>sourceSize</key>
                <string>{66,96}</string>
            </dict>
            <key>airen_c42.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,328},{66,104}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,104}}</string>
                <key>sourceSize</key>
                <string>{70,110}</string>
            </dict>
            <key>airen_c43.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,236},{102,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{102,82}}</string>
                <key>sourceSize</key>
                <string>{102,86}</string>
            </dict>
            <key>airen_c44.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,344},{104,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{104,82}}</string>
                <key>sourceSize</key>
                <string>{104,86}</string>
            </dict>
            <key>airen_c45.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,168},{112,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,82}}</string>
                <key>sourceSize</key>
                <string>{112,86}</string>
            </dict>
            <key>airen_c46.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,86},{116,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{116,82}}</string>
                <key>sourceSize</key>
                <string>{116,86}</string>
            </dict>
            <key>airen_c47.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,82},{116,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{116,82}}</string>
                <key>sourceSize</key>
                <string>{116,86}</string>
            </dict>
            <key>airen_c48.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,168},{102,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{102,82}}</string>
                <key>sourceSize</key>
                <string>{102,86}</string>
            </dict>
            <key>airen_c49.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{102,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{102,82}}</string>
                <key>sourceSize</key>
                <string>{102,86}</string>
            </dict>
            <key>airen_c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,266},{104,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,82}}</string>
                <key>sourceSize</key>
                <string>{106,86}</string>
            </dict>
            <key>airen_c50.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,94},{108,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{108,82}}</string>
                <key>sourceSize</key>
                <string>{110,86}</string>
            </dict>
            <key>airen_c51.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,0},{118,82}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{118,82}}</string>
                <key>sourceSize</key>
                <string>{120,86}</string>
            </dict>
            <key>airen_c52.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,86},{114,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{114,82}}</string>
                <key>sourceSize</key>
                <string>{116,86}</string>
            </dict>
            <key>airen_c53.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,470},{94,84}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{94,84}}</string>
                <key>sourceSize</key>
                <string>{110,96}</string>
            </dict>
            <key>airen_c54.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,432},{96,86}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{96,86}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>airen_c55.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,592},{94,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{94,86}}</string>
                <key>sourceSize</key>
                <string>{110,96}</string>
            </dict>
            <key>airen_c56.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,518},{94,86}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{94,86}}</string>
                <key>sourceSize</key>
                <string>{110,96}</string>
            </dict>
            <key>airen_c57.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{164,94}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{164,94}}</string>
                <key>sourceSize</key>
                <string>{166,100}</string>
            </dict>
            <key>airen_c58.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{180,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{180,94}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>airen_c59.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,0},{166,94}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{166,94}}</string>
                <key>sourceSize</key>
                <string>{170,100}</string>
            </dict>
            <key>airen_c6.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,430},{88,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{88,82}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>airen_c60.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,0},{130,82}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{130,82}}</string>
                <key>sourceSize</key>
                <string>{140,94}</string>
            </dict>
            <key>airen_c61.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,0},{116,86}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{116,86}}</string>
                <key>sourceSize</key>
                <string>{130,94}</string>
            </dict>
            <key>airen_c62.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,394},{96,86}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{96,86}}</string>
                <key>sourceSize</key>
                <string>{106,94}</string>
            </dict>
            <key>airen_c63.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,250},{98,84}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{98,84}}</string>
                <key>sourceSize</key>
                <string>{106,94}</string>
            </dict>
            <key>airen_c64.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,318},{96,82}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{96,82}}</string>
                <key>sourceSize</key>
                <string>{106,94}</string>
            </dict>
            <key>airen_c65.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,500},{94,82}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{94,82}}</string>
                <key>sourceSize</key>
                <string>{104,94}</string>
            </dict>
            <key>airen_c66.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,414},{94,84}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,84}}</string>
                <key>sourceSize</key>
                <string>{102,94}</string>
            </dict>
            <key>airen_c67.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,508},{96,84}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{96,84}}</string>
                <key>sourceSize</key>
                <string>{110,94}</string>
            </dict>
            <key>airen_c68.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,400},{94,84}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{94,84}}</string>
                <key>sourceSize</key>
                <string>{106,94}</string>
            </dict>
            <key>airen_c69.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,190},{78,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{78,102}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>airen_c7.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,618},{88,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,84}}</string>
                <key>sourceSize</key>
                <string>{92,86}</string>
            </dict>
            <key>airen_c70.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,346},{92,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{92,84}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>airen_c71.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,332},{94,84}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{94,84}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>airen_c72.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,416},{92,82}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{92,82}}</string>
                <key>sourceSize</key>
                <string>{114,86}</string>
            </dict>
            <key>airen_c73.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,334},{96,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{96,80}}</string>
                <key>sourceSize</key>
                <string>{114,86}</string>
            </dict>
            <key>airen_c74.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,266},{104,80}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{104,80}}</string>
                <key>sourceSize</key>
                <string>{118,86}</string>
            </dict>
            <key>airen_c75.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,94},{112,78}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{112,78}}</string>
                <key>sourceSize</key>
                <string>{120,86}</string>
            </dict>
            <key>airen_c76.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,498},{92,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{92,78}}</string>
                <key>sourceSize</key>
                <string>{106,86}</string>
            </dict>
            <key>airen_c77.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,268},{102,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{102,78}}</string>
                <key>sourceSize</key>
                <string>{106,86}</string>
            </dict>
            <key>airen_c78.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,392},{96,78}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{96,78}}</string>
                <key>sourceSize</key>
                <string>{102,86}</string>
            </dict>
            <key>airen_c79.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,640},{86,78}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{86,78}}</string>
                <key>sourceSize</key>
                <string>{106,86}</string>
            </dict>
            <key>airen_c8.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,496},{94,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{94,82}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>airen_c80.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,176},{106,70}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{106,70}}</string>
                <key>sourceSize</key>
                <string>{118,84}</string>
            </dict>
            <key>airen_c81.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,250},{100,58}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{100,58}}</string>
                <key>sourceSize</key>
                <string>{120,66}</string>
            </dict>
            <key>airen_c82.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,168},{100,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{100,50}}</string>
                <key>sourceSize</key>
                <string>{112,66}</string>
            </dict>
            <key>airen_c83.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,380},{98,44}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{98,44}}</string>
                <key>sourceSize</key>
                <string>{114,66}</string>
            </dict>
            <key>airen_c9.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,246},{104,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{104,82}}</string>
                <key>sourceSize</key>
                <string>{108,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>airen-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81d42b8159b4eb616abcff341dab4c04$</string>
            <key>textureFileName</key>
            <string>airen-hd.png</string>
        </dict>
    </dict>
</plist>
