<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dijing_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,252},{40,54}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{40,54}}</string>
                <key>sourceSize</key>
                <string>{52,62}</string>
            </dict>
            <key>dijing_c10.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,108},{55,57}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>dijing_c11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{59,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,55}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>dijing_c12.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{68,51}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{68,51}}</string>
                <key>sourceSize</key>
                <string>{74,57}</string>
            </dict>
            <key>dijing_c13.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,55},{66,51}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{66,51}}</string>
                <key>sourceSize</key>
                <string>{74,57}</string>
            </dict>
            <key>dijing_c14.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,55},{64,49}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{64,49}}</string>
                <key>sourceSize</key>
                <string>{74,57}</string>
            </dict>
            <key>dijing_c15.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,294},{49,49}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{49,49}}</string>
                <key>sourceSize</key>
                <string>{53,69}</string>
            </dict>
            <key>dijing_c16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{72,51}}</string>
                <key>sourceSize</key>
                <string>{74,63}</string>
            </dict>
            <key>dijing_c17.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,106},{63,51}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{63,51}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>dijing_c18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{67,51}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{67,51}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>dijing_c19.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{68,51}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{68,51}}</string>
                <key>sourceSize</key>
                <string>{90,57}</string>
            </dict>
            <key>dijing_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,205},{45,54}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{45,54}}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>dijing_c20.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,267},{46,50}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{46,50}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>dijing_c21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{48,56}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{48,56}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>dijing_c22.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,167},{55,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>dijing_c23.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,159},{57,44}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{57,44}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>dijing_c24.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{50,34}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,25},{50,34}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>dijing_c25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{48,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{48,50}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>dijing_c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,109},{50,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{50,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>dijing_c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,165},{51,54}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{51,54}}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>dijing_c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,224},{41,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{41,54}}</string>
                <key>sourceSize</key>
                <string>{53,62}</string>
            </dict>
            <key>dijing_c6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{46,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,54}}</string>
                <key>sourceSize</key>
                <string>{54,62}</string>
            </dict>
            <key>dijing_c7.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,55},{49,52}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{49,52}}</string>
                <key>sourceSize</key>
                <string>{57,62}</string>
            </dict>
            <key>dijing_c8.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,218},{41,54}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{41,54}}</string>
                <key>sourceSize</key>
                <string>{49,62}</string>
            </dict>
            <key>dijing_c9.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,261},{48,51}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{48,51}}</string>
                <key>sourceSize</key>
                <string>{62,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dijing.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fe1cb05f74114e85614a62e78382a27$</string>
            <key>textureFileName</key>
            <string>dijing.png</string>
        </dict>
    </dict>
</plist>
