<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_fire_buff_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,63},{52,59}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>skill_fire_buff_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>skill_fire_buff_c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{54,59}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>skill_fire_buff_c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{52,55}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>skill_fire_buff_c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,59},{48,55}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{48,55}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_fire_buff-hd.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c97a4a53b8cf51877a6dbc5909c7c314$</string>
            <key>textureFileName</key>
            <string>skill_fire_buff-hd.png</string>
        </dict>
    </dict>
</plist>
