<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiong_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,524},{162,102}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{162,102}}</string>
                <key>sourceSize</key>
                <string>{166,106}</string>
            </dict>
            <key>xiong_c10.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,240},{170,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{170,100}}</string>
                <key>sourceSize</key>
                <string>{172,100}</string>
            </dict>
            <key>xiong_c11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,538},{128,138}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{128,138}}</string>
                <key>sourceSize</key>
                <string>{132,146}</string>
            </dict>
            <key>xiong_c12.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,340},{116,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{116,160}}</string>
                <key>sourceSize</key>
                <string>{118,162}</string>
            </dict>
            <key>xiong_c13.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,231},{116,178}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{116,178}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>xiong_c14.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,0},{224,130}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,130}}</string>
                <key>sourceSize</key>
                <string>{230,130}</string>
            </dict>
            <key>xiong_c15.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,0},{226,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{226,140}}</string>
                <key>sourceSize</key>
                <string>{234,140}</string>
            </dict>
            <key>xiong_c16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,213},{184,100}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{184,100}}</string>
                <key>sourceSize</key>
                <string>{190,106}</string>
            </dict>
            <key>xiong_c17.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,577},{148,104}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{148,104}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>xiong_c18.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,668},{144,106}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{144,106}}</string>
                <key>sourceSize</key>
                <string>{158,108}</string>
            </dict>
            <key>xiong_c19.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,130},{208,102}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{208,102}}</string>
                <key>sourceSize</key>
                <string>{218,114}</string>
            </dict>
            <key>xiong_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,434},{144,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{144,104}}</string>
                <key>sourceSize</key>
                <string>{146,106}</string>
            </dict>
            <key>xiong_c20.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,686},{144,104}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{144,104}}</string>
                <key>sourceSize</key>
                <string>{146,112}</string>
            </dict>
            <key>xiong_c21.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,475},{142,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{142,102}}</string>
                <key>sourceSize</key>
                <string>{152,110}</string>
            </dict>
            <key>xiong_c22.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,0},{242,133}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{242,133}}</string>
                <key>sourceSize</key>
                <string>{244,135}</string>
            </dict>
            <key>xiong_c23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{247,133}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{247,133}}</string>
                <key>sourceSize</key>
                <string>{259,143}</string>
            </dict>
            <key>xiong_c24.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,473},{154,104}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{154,104}}</string>
                <key>sourceSize</key>
                <string>{166,116}</string>
            </dict>
            <key>xiong_c25.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,538},{132,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{132,130}}</string>
                <key>sourceSize</key>
                <string>{142,130}</string>
            </dict>
            <key>xiong_c26.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,347},{128,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,152}}</string>
                <key>sourceSize</key>
                <string>{130,152}</string>
            </dict>
            <key>xiong_c27.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,305},{116,164}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{116,164}}</string>
                <key>sourceSize</key>
                <string>{126,166}</string>
            </dict>
            <key>xiong_c28.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,332},{141,167}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,167}}</string>
                <key>sourceSize</key>
                <string>{141,169}</string>
            </dict>
            <key>xiong_c29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,313},{121,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{121,170}}</string>
                <key>sourceSize</key>
                <string>{131,170}</string>
            </dict>
            <key>xiong_c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,469},{152,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,106}}</string>
                <key>sourceSize</key>
                <string>{152,106}</string>
            </dict>
            <key>xiong_c30.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,575},{134,128}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{134,128}}</string>
                <key>sourceSize</key>
                <string>{136,140}</string>
            </dict>
            <key>xiong_c31.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,666},{130,126}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{130,126}}</string>
                <key>sourceSize</key>
                <string>{136,140}</string>
            </dict>
            <key>xiong_c32.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,577},{130,132}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{130,132}}</string>
                <key>sourceSize</key>
                <string>{136,134}</string>
            </dict>
            <key>xiong_c33.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,140},{170,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{170,100}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>xiong_c34.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,133},{190,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{190,98}}</string>
                <key>sourceSize</key>
                <string>{190,100}</string>
            </dict>
            <key>xiong_c35.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,176},{196,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{196,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>xiong_c36.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,133},{208,80}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{208,80}}</string>
                <key>sourceSize</key>
                <string>{210,100}</string>
            </dict>
            <key>xiong_c37.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,0},{176,85}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{176,85}}</string>
                <key>sourceSize</key>
                <string>{180,89}</string>
            </dict>
            <key>xiong_c38.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,133},{172,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{172,87}}</string>
                <key>sourceSize</key>
                <string>{180,89}</string>
            </dict>
            <key>xiong_c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,560},{148,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,106}}</string>
                <key>sourceSize</key>
                <string>{154,106}</string>
            </dict>
            <key>xiong_c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,232},{162,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{162,98}}</string>
                <key>sourceSize</key>
                <string>{166,100}</string>
            </dict>
            <key>xiong_c6.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,456},{158,104}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{158,104}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>xiong_c7.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,394},{144,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,100}}</string>
                <key>sourceSize</key>
                <string>{146,100}</string>
            </dict>
            <key>xiong_c8.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,372},{152,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,100}}</string>
                <key>sourceSize</key>
                <string>{152,100}</string>
            </dict>
            <key>xiong_c9.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,232},{170,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{170,100}}</string>
                <key>sourceSize</key>
                <string>{172,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiong-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4a95cca39d2ece174f8ed8c6a7853a7$</string>
            <key>textureFileName</key>
            <string>xiong-hd.png</string>
        </dict>
    </dict>
</plist>
