<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhanche_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,354},{194,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{194,152}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>zhanche_c10.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,0},{196,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{196,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>zhanche_c11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{194,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{194,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>zhanche_c12.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,0},{196,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{196,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>zhanche_c13.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,0},{196,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{196,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>zhanche_c14.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{196,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{196,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>zhanche_c15.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,160},{192,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{192,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>zhanche_c16.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,352},{192,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{192,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>zhanche_c17.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,548},{192,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{192,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>zhanche_c18.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,730},{168,160}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{168,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>zhanche_c19.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,160},{192,172}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{192,172}}</string>
                <key>sourceSize</key>
                <string>{210,190}</string>
            </dict>
            <key>zhanche_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,742},{194,152}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{194,152}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>zhanche_c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{194,152}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{194,152}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>zhanche_c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,354},{194,152}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{194,152}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>zhanche_c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,160},{170,160}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{170,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>zhanche_c6.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,352},{170,160}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{170,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>zhanche_c7.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,544},{186,160}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{186,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>zhanche_c8.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,740},{188,160}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{188,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>zhanche_c9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{196,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{196,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhanche-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eba54ef287c81431f77e680a3c1e0da9$</string>
            <key>textureFileName</key>
            <string>zhanche-hd.png</string>
        </dict>
    </dict>
</plist>
