<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhanchezidan_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,76},{140,62}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{140,62}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>zhanchezidan_c10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{134,126}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{134,126}}</string>
                <key>sourceSize</key>
                <string>{140,130}</string>
            </dict>
            <key>zhanchezidan_c11.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,140},{100,108}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{100,108}}</string>
                <key>sourceSize</key>
                <string>{140,130}</string>
            </dict>
            <key>zhanchezidan_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{142,76}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{142,76}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>zhanchezidan_c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,0},{140,68}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{140,68}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>zhanchezidan_c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{142,60}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{142,60}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>zhanchezidan_c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{160,68}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>zhanchezidan_c6.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,138},{74,78}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{74,78}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>zhanchezidan_c7.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,248},{100,94}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{100,94}}</string>
                <key>sourceSize</key>
                <string>{110,130}</string>
            </dict>
            <key>zhanchezidan_c8.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,128},{126,126}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zhanchezidan_c9.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{140,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{140,128}}</string>
                <key>sourceSize</key>
                <string>{140,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhanchezidan-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df3d89ac4491609f696cca665df9f717$</string>
            <key>textureFileName</key>
            <string>zhanchezidan-hd.png</string>
        </dict>
    </dict>
</plist>
